nav {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 30px;
    text-align: center; 

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #929292;
}
  
a {
    display: block;
    padding: 8px;
    background-color: #262626;
}

h1 {
    text-align: center;
    font-size: 50px;

}

p {
    text-align: center;
    font-size:30px;
}

canvas {
    margin-left: auto;
    margin-right: auto;
}

body{ 
    background-color: rgb(169, 156, 156);
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; text-align: center;}
.item4 { grid-area: right; }
.item5 { grid-area: footer; }


.grid-container {
    display: grid;
    grid-template-areas: 
        'header header header header header header'
        'menu main main main main right'
        'menu footer footer footer footer footer';
    gap: 10px;
    padding: 10px;

}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 30px;
    text-align: center; 
}

#myChart{
    background-color: white;
    text-align: center;
}

#myCanvas{
    text-justify: center;
}

button{
    display: inline-flex;
    align-items: center;
    padding: 5px;
    margin: 10px;
    background-color: rgb(0, 118, 0);
    font-size: 30px;
    font: bold; 
    
}

canvas{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

@media only screen and (orientation: portrait) {
    .grid-container {
        display: grid;
        grid-template-areas: 
            'header header header'
            'main main main'
            'footer footer footer'
            'menu menu menu';
        gap: 10px;
        padding: 10px;

    }
}